body {
    background-color: lavender;
    margin: 1rem 2rem 1rem 2rem;
}

h1 {
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    background-color: darkblue;
    color:white;
    padding: 1rem;
    width: 100%;
}

.capture-form{
    position: relative;
    top: 80px;
    text-align: center;
    margin: 1.5rem auto 1rem auto;
    width: 30%;
    background:white;
    border: 1px solid darkblue;
    padding: 1rem;
}

#add-btn {
    margin-left: 1rem;
}

.todo-item {
    position: relative;
    top: 110px;
    margin-top: 3px;
    padding: .5rem 1rem .5rem 1rem;
    border: 1px solid darkblue;
    background-color: lightgoldenrodyellow;
}

.todo-item:hover {
    background-color: yellow;
    cursor: pointer;
}